.navbar {  
  display: flex;  
  justify-content: flex-end;  
  background-color: #aa80ff;
  }
.links a {  
  color: white;  
  padding: 14px 20px;  
  text-decoration: none;  
  text-align: center;
  margin-left:-5%;
  }
.navbar .left {
  margin-right: 72%;
}