.navbar {  
  display: flex;  
  justify-content: flex-end; 
  background-color: #aa80ff;
  }
.links a {  
  color: white;  
  padding: 14px 20px;  
  text-decoration: none;  
  text-align: center;
  margin-left:-5%;
  }
.navbar .left {
  margin-right: 72%;
}
.Scenariopp {
  height: 100%; 
  width: 100%; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  background-color: #eee6ff; 
  overflow-x: hidden;
  top: 6%;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.create_button {
  background-color: #aa80ff; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin-top: 1% ;
  margin-left: 38%;
}

.create_button:hover {
  background-color: #0056b3;
}

.create_button:active {
  background-color: #003f80;
}

.title {
  margin-left: 36%;
  font-size: 40px;
}

.secondtitle {
  margin-left: 40%;
  font-size: 30px;
  margin-top: 3%;
}

.scenariosbox {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  gap: 10px;  
  width: 40%;
  margin-left: 28%;
  height: 20px;
  padding: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 8px;      
  background-color: #f9f9f9; 
}

.name_scenario {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.buttongroupe {
  display: flex;
  justify-content: flex-end; 
  gap: 0.5rem;
}
